<form [formGroup]="form" (ngSubmit)="search()">
  <mat-form-field>
    <input matInput placeholder="Название" [formControlName]="'name'" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Подробнее" [formControlName]="'detail'" />
  </mat-form-field>
  <mat-form-field
    ><input
      placeholder="Цена"
      matInput
      [formControlName]="'price'"
      type="number"
  /></mat-form-field>

  <mat-form-field>
    <mat-label>Категория</mat-label>
    <mat-select [formControlName]="'categoryId'">
      <mat-option *ngFor="let cat of categories" [value]="cat.id">{{
        cat.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <ng-container
    [formGroupName]="'props'"
    *ngFor="let prop of loadadedCategory.additionalProps"
  >
    <mat-form-field>
      <input
        matInput
        [type]="prop.type === 0 ? 'number' : 'text'"
        [formControlName]="prop.id"
        [placeholder]="prop.name"
      />
    </mat-form-field>
  </ng-container>
  <button mat-flat-button type="submit" color="primary" [disabled]="!form.valid">Поиск</button>
  <button mat-flat-button type="reset" (click)="reset()">Сбросить</button>
</form>
